body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: Arial;
}

header {
  background: #111;
  padding: 15px;
  text-align: center;
  border-bottom: 2px solid #e63946;
}

header span {
  color: #e63946;
}

.hero {
  display: flex;
  gap: 15px;
  padding: 20px;
  align-items: center;
}

.pic {
  width: 130px;
  height: 160px;
  object-fit: cover;
  border: 2px solid #e63946;
  border-radius: 8px;
}

.box {
  background: #111;
  border-left: 3px solid #e63946;
  margin: 15px;
  padding: 15px;
  border-radius: 8px;
}

h2, h3 { color: #e63946; }

ul { margin-left: 18px; }
